@mixin testimonial-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;

  &__bullets {
    display: flex;
    gap: 10px;
  }

  &__bullet {
    height: 10px;
    width: 10px;
    background-color: #5b9af342;
    border-radius: 100%;
  }

  &__bullet--active {
    background-color: #5b9bf3;
  }

  &__arrow {
    font-size: 1.2rem;
    color: #458ff6;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      scale: 1.2;
    }
  }
}
