@use "abstracts" as *;
@use "base";
@use "layouts";
@use "components";

// Text styles
.paragraph {
  line-height: 30px;
}

.paragraph--text-gray {
  color: rgba(0, 0, 0, 0.382);
}

// Font sizes{
.text-xl {
  @include base.text-xl;
}

.text-lg {
  @include base.text-lg;
}

.text-md {
  @include base.text-md;
}

.text-sm {
  @include base.text-sm;
}

// Buttons
.button {
  text-decoration: none;
  text-align: center;
  padding: 12px 0;
  width: 200px;
  border-radius: 25px;
}

.button--blue {
  @include components.blue-button;
}

.button--blue-outline {
  @include components.blue-outline-button;
}

// KEYFRAMES (ANIMATIONS)
.animation-enter-right {
  animation: enter-right 0.5s forwards;
}

@keyframes enter-right {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animation-enter-left {
  animation: enter-left 0.5s forwards;
}

@keyframes enter-left {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animation-enter-top {
  animation: enter-top 0.5s forwards;
}

@keyframes enter-top {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// ------------------------------------------------------------------------------------------

.introduction-section {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;

  &__intro {
    max-width: 550px;
  }
}

.introduction-art {
  display: none;
  width: 100%;
  max-width: 550px;

  &__image {
    display: block;
    margin: 0 auto;
  }
}

.introduction-bg-grid {
  position: absolute;
  max-width: 100px;
  top: 80px;
  left: -40px;
  z-index: 1;
}

@media (min-width: 800px) {
  .introduction-bg-grid {
    top: 120px;
    max-width: 110px;
  }
}

@media (min-width: 930px) {
  .introduction {
    text-align: start;
    align-items: start;
    max-width: 350px;
  }

  .introduction-art {
    display: block;
  }

  .introduction-section {
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .introduction-section {
    height: 100vh;
  }

  .introduction-art {
    max-width: 700px;
  }

  .introduction-bg-grid {
    left: -20px;
  }
}

@media (min-width: 1400px) {
  .introduction {
    max-width: 450px;
  }

  .introduction-art {
    max-width: 700px;
  }
}

@media (min-width: 1600px) {
  .introduction {
    max-width: 600px;
  }

  .introduction-art {
    max-width: 750px;
  }
}

// ------------------------------------------------------------------------------------------

.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  padding: 20px;
  position: relative;
}

.services-subheading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__border {
    height: 3px;
    width: 55px;
    border: 1px solid black;
    background-color: black;
  }

  &__small-text {
    color: rgba(0, 0, 0, 0.382);
    max-width: 950px;
  }
}

.services-grid {
  display: grid;
  gap: 30px;
  width: 100%;
  margin: 0 auto;
}

.services-card {
  @include components.service-card;
}

.services-bg-shape {
  display: none;
  position: absolute;
  max-width: 880px;
  top: -20px;
  left: -300px;
  z-index: 1;
}

.services-bg-grid {
  display: none;
  position: absolute;
  max-width: 100px;
  top: 400px;
  right: -40px;
  z-index: 1;
}

@media (min-width: 600px) {
  .services-grid {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .services-section {
    padding: 0;
  }

  .services-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .services-bg-grid,
  .services-bg-shape {
    display: block;
  }
}

@media (min-width: 1600px) {
  .services-subheading__small-text {
    max-width: 1050px;
  }
}

// ------------------------------------------------------------------------------------------
.app-section {
  padding: 150px 20px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  position: relative;
  overflow-x: hidden;
}

.app-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  max-width: 1500px;
}

.app-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  opacity: 0;
}

.app-subheading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__border {
    height: 3px;
    width: 55px;
    border: 1px solid black;
    background-color: black;
  }
}

.app-image {
  opacity: 0;
}

.app-bg-grid {
  position: absolute;
  top: 800px;
  right: -50px;
  display: none;
}

@media (min-width: 1024px) {
  .app-flex {
    flex-direction: row;
    gap: 100px;
  }

  .app-flex--reverse {
    flex-direction: row-reverse;
    gap: 80px;
  }

  .app-subheading {
    align-items: start;
    text-align: start;

    &__large-text {
      max-width: 350px;
    }
  }

  .app-details {
    max-width: 350px;
    align-items: start;
  }

  .app-bg-grid {
    display: block;
  }
}

@media (min-width: 1200px) {
  .app-flex {
    justify-content: center;
  }
}

@media (min-width: 1400px) {
  .app-section {
    padding: 250px 20px;
  }

  .app-flex {
    gap: 100px;
  }

  .app-image {
    width: 750px;
  }

  .app-details {
    max-width: 500px;
  }
}

// ------------------------------------------------------------------------------------------

.testimonial-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;

  &__bg-grid {
    position: absolute;
    left: -50px;
    bottom: 105px;
    width: 100px;
  }
}

.testimonial-card {
  @include components.testimonial-card;
}

.testimonial-subheading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__large-text {
    text-align: center;
    color: white;
  }

  &__border {
    height: 3px;
    width: 55px;
    border: 1px solid white;
    background-color: white;
  }
}

.testimony {
  @include components.testimony;
}

.testimonial-slider {
  @include components.testimonial-slider;
}

.testimonial-controls {
  @include components.testimonial-controls;
}

@media (min-width: 800px) {
  .testimonial-bg-grid {
    width: 100px;
    top: -10px;
    right: -30px;
  }
}

// ------------------------------------------------------------------------------------------

.blogs-section {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  overflow: hidden;
}

.blog-shape-bg {
  position: absolute;
  top: 410px;
  right: -250px;
  width: 700px;
  display: none;
}

.blog-grid-bg {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 100px;
  z-index: -1;
}

.blogs-subheading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__large-text {
    text-align: center;
  }

  &__border {
    height: 3px;
    width: 55px;
    border: 1px solid black;
    background-color: black;
  }
}

.blogs-grid {
  display: grid;
  gap: 30px;
  position: relative;
  z-index: 1;
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

.blog {
  @include components.blog;
  opacity: 0;
}

@media (min-width: 640px) {
  .blogs-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .blogs-section {
    padding-top: 300px;
    gap: 70px;
  }

  .blog-shape-bg {
    display: block;
  }

  .blogs-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
